*{
    padding:0;
    margin: 0;
    
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.552),rgba(0, 0, 0, 0.666)),url(upload/photo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
   
}
.form-box{
    width:370px;
    height:520px;
    position: relative;
    background-color: aliceblue;
    margin:6% 50%;
    box-shadow: 10px 0 20px rgb(161, 158, 158);
    overflow: hidden;
    border-radius: 5px;
    
}
.buton-box{
    width:260px;
    margin:25px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #79f1af1f;
    border-radius: 30px;
    top:15px
}
.togelbtn{
    padding:10px 30px;
    background: transparent;
    cursor: pointer;
    border:0;
    outline: none;
    font-size:14px;
    position: relative;

}

#bttn{
    background: linear-gradient(to right, rgb(128, 157, 235, 0.8 ), rgb(78, 46, 219));
    top:0;
    right:0;
    width:150px;

    height:100%;
    border-radius: 30px;
    transition: 0.5s;
    position:absolute;

}
.inputgrp{
    top:30px;
    width:280px;
    transition: 0.5s;
   position: relative;
}
.inputfeild{
    width:100%;
    margin:5px 50px;
    
    padding: 8px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;
   
}

.submit-btn{
    display:block;
    width:85%;
    margin: auto;
    background: linear-gradient(to right, rgb(128, 157, 235, 0.8 ), rgb(78, 46, 219));
    padding: 10px 30px;
    outline:none ;
    cursor: pointer;
    border:0;
    border-radius: 30px;
    position: absolute;
}
.submit-btn2{
    display:block;
    width:85%;
    margin: auto;
    background:linear-gradient(to right, rgb(128, 157, 235, 0.8 ), rgb(78, 46, 219));
    padding: 10px 30px;
    outline:none ;
    cursor: pointer;
    border:0;
    border-radius: 30px;
    position: absolute;
    margin-top:70px;
    margin-left: 50px;
}
.check-box{
   margin: 30px 10px 30px 4px;
user-select: none;
}
.enrg-mtp{
    color:#777;
    font-size: 18px;
 
    user-select: none;

}




.par-chet{
    position: relative;
   
}
.par-chet .logo{
    position: absolute;
    margin: 30px;
    margin-top: 10px;
    user-select: none;
}
.par-chet p{
    font-size:3.3em;
   margin:30px auto;
   position: absolute;
   margin-top: 10%;
   left:10%;
   color: rgb(206, 207, 236);
   
   font-weight: bold;
   font-family: 'Lato', sans-serif;
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Tinos', serif;
border-bottom: 2px solid rgba(39, 187, 63, 0.8);
user-select: none;
   
}
.statu-prg{
    user-select: none;
    font-size:2.5em;
    margin:30px auto;
    position: absolute;
    margin-top: 20%;
    left:6%;
    color: rgb(206, 207, 236);
    font-style: arail;
    font-weight: bold;
    
    font-family: 'Lato', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Tinos', serif;
    
}
.inputgrp .g-recaptcha{
    width:30px;
   height:20px;
   margin-left:50px;
   margin-top: 10px;
  
}
.header{
    width:30%;
    margin:30px  auto 0;
    background-color: rgb(78, 94, 233);
    padding:20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color:white;
    
}
.content{
    width:30%;
    margin:0px auto;
    padding:20Px;
    border:1px solid #b0c4de;
    background-color: white;
    border-radius : 0px 0px 10px 10px
}
.success{
    color:#3c763d;
    background-color: #DFF0D8;
    border:1px solid #3C763D;
    margin-bottom: 20px;
    padding: 20px;
}
span.text-error{
    color:red;
    font-size: 12px;
    width:100%;
    display: flex;
    font-weight: bold;
    margin-left:50px;
    margin-right:0px;
    font-family: 'Lato', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Tinos', serif;
}
