*{
    padding:0;
    margin: 0;
    
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.552),rgba(0, 0, 0, 0.666)),url(upload/photo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
   
}
.form-box{
    width:370px;
    height:520px;
    position: relative;
    background-color: aliceblue;
    margin:6% 50%;
    box-shadow: 1px 0 6px rgb(161, 158, 158);
    overflow: hidden;
    border-radius: 5px;
    
}
.buton-box{
    width:260px;
    margin:25px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #79f1af1f;
    border-radius: 30px;
    top:15px
}
.togel-btn{
    padding:10px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border:0;
    outline: none;
    font-size:14px;
    
}
#btn{
    position:absolute;
    background: linear-gradient(to right,rgba(39, 187, 63, 0.8),rgb(6, 243, 26));
    top:0;
    left:0;
    width:150px;
    height:100%;
    border-radius: 30px;
    transition: 0.5s;
}
.input-grp{
    top:140px;
    position:absolute;
    width:280px;
    transition: 0.5s;
    
}
.input-feild{
    width:100%;
   margin:5px 0px;
   padding: 10px 0;
   border-left: 0;
   border-right: 0;
   border-top: 0;
   border-bottom: 1px solid #999;
   outline:none;
   background: transparent;
}
.submit-btn{
    display:block;
    width:85%;
    margin: auto;
    background: linear-gradient(to right,rgba(39, 187, 63, 0.8),rgb(6, 243, 26));
    padding: 10px 30px;
    outline:none ;
    cursor: pointer;
    border:0;
    border-radius: 30px;
    position: absolute;
}
.submit-btn2{
    display:block;
    width:85%;
    margin: auto;
    background: linear-gradient(to right,rgba(39, 187, 63, 0.8),rgb(6, 243, 26));
    padding: 10px 30px;
    outline:none ;
    cursor: pointer;
    border:0;
    border-radius: 30px;
    position: absolute;
    margin-top:70px;
    margin-left: 20px;
}
.input-grp .checkbox{
   margin: 30px 10px 30px 4px;
}
 .enrg-mtp{
    color:#777;
    font-size: 18px;
    bottom:24px;
    user-select: none;
position: absolute;

}
#login{
    left:50px;
    
}
#inscri{
    left:450px;
    
}



.par-chet{
    position: relative;
   
}
.par-chet .logo{
    position: absolute;
    margin: 30px;
    margin-top: 10px;
    user-select: none;
}
.par-chet p{
    font-size:3.3em;
   margin:30px auto;
   position: absolute;
   margin-top: 10%;
   left:10%;
   color: rgb(206, 207, 236);
   
   font-weight: bold;
   font-family: 'Lato', sans-serif;
   font-family: 'Noto Sans JP', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-family: 'Tinos', serif;
border-bottom: 2px solid rgba(39, 187, 63, 0.8);
user-select: none;
   
}
.statu-prg{
    user-select: none;
    font-size:2.5em;
    margin:30px auto;
    position: absolute;
    margin-top: 20%;
    left:6%;
    color: rgb(206, 207, 236);
    font-style: arail;
    font-weight: bold;
    
    font-family: 'Lato', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Tinos', serif;
    
}
.input-grp .g-recaptcha{
    width:30px;
   height:20px;
   margin-right:100px;
   margin-top: 10px;
  
}
.header{
    width:30%;
    margin:30px  auto 0;
    background-color: rgb(78, 94, 233);
    padding:20px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color:white;
    
}
.content{
    width:30%;
    margin:0px auto;
    padding:20Px;
    border:1px solid #b0c4de;
    background-color: white;
    border-radius : 0px 0px 10px 10px
}
.success{
    color:#3c763d;
    background-color: #DFF0D8;
    border:1px solid #3C763D;
    margin-bottom: 20px;
    padding: 20px;
}
.text-error{
    color:red;
    font-size: 13px;
    font-style: arail;
    font-weight: bold;
    
    font-family: 'Lato', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Tinos', serif;
}


input, button, select, optgroup, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) {
   .hero{color:red} 
  };

/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) { 
 };

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) { 
 };

/*X-Large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) {
 };

/*XX-Large devices (larger desktops, 1400px and up)*/ 
@media (min-width: 1400px) { 
    h1{color:red} 
 };